# Tugas Hari 1 (Python - Data Science)
### Organized by Sanbercode
##### Nama : Fahmi Jabbar (fahmijabbar12@gmail.com)

<h2>Soal 1: Hello World to Python</h2>
    
Print Say Hello World to Python

In [0]:
print("Hello World Python")

Hello World Python

Expected Output : 

Hello World Python

<h2>Soal 2: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [0]:
a = 2
b = 2

print(a,"+", b," =", a+b)
print(a,"-", b," =", a-b)
print(a,"*", b," =", a*b)
print(a,"/", b," =", a/b)

2 + 2  = 4
2 - 2  = 0
2 * 2  = 4
2 / 2  = 1.0

<h2>Quiz 3: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [0]:
a = 100
b = 30
print("Integer = ",int(a/b))
print("Float = ",float(a/b))

Integer =  3
Float =  3.3333333333333335

<h2>Soal 4: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lasname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science.'

In [0]:
firstname = "Fahmi"
lastname = "Jabbar"

print("Hello sanbercode, saya", firstname, lastname + "! saya siap belajar python data science.")

Hello sanbercode, saya Fahmi Jabbar! saya siap belajar python data science.

Expected Output :

Hello sanbercode, saya fauzan taufik! saya siap belajar python data science.

<h2>Soal 5: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [0]:
p = 9.99999
q = 'the number: '
print(q + str(p))

the number: 9.99999

Expected Output :

the number: 9.99999